<button onclick="window.location.href='/articulos'">Listado de artículos</button>
<div class="ficha-articulo">
    <img src="" alt="FOTO">
    <h3>{{articulo.nombre}}</h3>
    <p><b>Nombre:</b> {{articulo.nombre}}</p>
    <p><b>Precio:</b> {{articulo.precio}}</p>

    <button class="modify-button" onclick="window.location.href='/articulos/modificar/{{articulo._id}}'">Modificar</button>
    <button class="remove-button" onclick="if (confirm('¿Seguro que quieres eliminar el artículo {{articulo.nombre}}?')) window.location.href='/articulos/eliminar/{{articulo._id}}'">Eliminar</button>
</div>